<!DOCTYPE html>
<html>

<head>
    <title>CS340 Project</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
        <a href="/instructors">Instructors</a>
        <a href="/sections">Sections</a>
        <a href="/enrollments">Enrollments</a>
        <a href="/reset">Reset Database</a>
    </nav>

    {{{body}}}
</body>

</html>